@import 'https://fonts.googleapis.com/css?family=Bangers';

.HeroDetail img {
	width: 300px;
}
.HeroDetail button {
	margin-right: 5px;
}
.HeroDetail .statsBox {
	background-color: #c4bebe;
	border: 1px solid gray;
	border-radius: 2%;
	float: right;
	font-size: 65%;
	padding: 4px;
	width: 190px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Bangers', serif;
	font-size: 22px;
	letter-spacing: 0.08rem;
	list-style: none;
	flex-direction: row;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 32px;
	color: lightgray;
	-webkit-text-stroke: 1px black;
}
h3 {
	font-size: 26px;
	color: white;
	-webkit-text-stroke: 1px black;
}
h4 {
	font-size: 20px;
}

.details-block {
	border: 1px solid gray;
	border-radius: 2%;
	padding: 15px;
}
