.card .card-body img {
	float: right;
	width: 150px;
}
.card-body button {
	margin-right: 5px;
}
.card-footer a {
	margin-right: 5px;
	cursor: pointer;
}
.card-footer .activity-counter {
	margin-right: 10px;
}
.card {
	margin-bottom: 10px;
}
.commentsBox {
	padding: 10px 0;
}
.commentsBox button {
	display: block;
	clear: both;
	margin-top: 3px;
}
.activity-counter {
	padding: 0 10px 0 3px;
	cursor: pointer;
}
